.search-container {
    background-color: white; 
    padding: 16px; 
    border-radius: 4px; 
}

.search-input {
    flex: 1; 
    margin-right: 16px;
    width: 40%;
}

.search-button {
    justify-content: flex-end; 
    align-self: center; 
}
